<h1>Restaurants index</h1>

<% @restaurants.each do |restaurant| %>
<%= link_to restaurant.name, restaurant_path(restaurant) %> <br>
<% end %>
 <br>
<%= link_to 'Add a new restaurant', new_restaurant_path  %>
